<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../sz/css/css6.css"/>
</head>
<body>
<!--1-->
<div class="header">
    <img src="../sz/img/header.jpg" alt=""/>
</div>
<!--2-->
<div class="menu">
    <div class="menu_cen">
        <div class="menu_le">Roux Meetups</div>
        <ul class="menu_ri">
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:8088/create4" method="GET">Speakers <img src="../sz/img/menu_list.jpg" alt=""/></a></li>
            <li><a href="http://localhost:8088/create5" method="GET">Feedback</a></li>
            <li class="menu_ri_li"><a href="http://localhost:8088/create6" method="GET">chat</a></li>
        </ul>
    </div>
</div>
<!--3-->
<div class="content">
    <div class="con_le">
        <h2>Send us feedback</h2>
        <p><strong>Name</strong></p>
        <input type="text" placeholder="Enter your name" id="term"/>
        <p><strong>Title</strong></p>
        <input type="text" placeholder="Title of  your feedback" id="defined"/>
        <button class="btn">提交</button>
        <p><strong>Message</strong></p>
        <textarea name="" id=""></textarea>
    </div>
    <div class="con_ri">
        <h3>Recent Feedback</h3>
        <div class="li">
            <img src="../sz/img/x.png"/><span>aaa</span> <a href="#">aaaaaa</a>
            <p>o over gallery where you can check out some</p>
        </div>
        <div class="li">
            <img src="../sz/img/x.png"/><span>I want to send message</span> <a href="#">green</a>
            <p>o over gallery where you can check out some</p>
        </div>
        <div class="li">
            <img src="../sz/img/x.png"/><span>Best Meetup Ever</span> <a href="#">Awesome</a>
            <p>o over gallery where you can check out some</p>
        </div>
        <div class="li">
            <img src="../sz/img/x.png"/><span>Mesting Time</span> <a href="#">Jane</a>
            <p>o over gallery where you can check out some</p>
        </div>
        <div class="li">
            <img src="../sz/img/x.png"/><span>Great Speaker</span> <a href="#">Roy</a>
            <p>o over gallery where you can check out some</p>
        </div>
    </div>
</div>
</body>
</html>