<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../sz/css/css3.css"/>
</head>
<body>
<!--1-->
<div class="header">
    <img src="../sz/img/header.jpg" alt=""/>
</div>
<!--2-->
<div class="menu">
    <div class="menu_cen">
        <div class="menu_le">Roux Meetups</div>
        <ul class="menu_ri">
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:8088/create4" method="GET">Speakers <img src="../sz/img/menu_list.jpg" alt=""/></a></li>
            <li><a href="http://localhost:8088/create5" method="GET">Feedback</a></li>
            <li class="menu_ri_li"><a href="http://localhost:8088/create6" method="GET">chat</a></li>
        </ul>
    </div>
</div>
<!--3-->
<div class="content">
    <div class="con_le">
        <h2>The Art of Abstract</h2>
        <h6>with Lorenzo Gircia</h6>
        <img src="../sz/img/banner3.jpg" alt="" class="con_le_img"/>
        <p class="con_le_p">
            while you attend the conference,head over
            to over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers <br/>
            f the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            f the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
        </p>
    </div>
    <div class="con_ri">
        <h2>Art</h2>
        <p>
            while you attend the conference,head over <br/>
            to over gallery where you can check out some <br/>
            of the work from our speakers
        </p>
        <div class="con_ri_img">
            <img src="../sz/img/Hillary_Goldwynn_01_tn.jpg" alt="" class="con_img1 con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_02_tn.jpg" alt="" class="con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_03_tn.jpg" alt="" class="con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_04_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Hillary_Goldwynn_05_tn.jpg" alt=""/>
            <img src="../sz/img/Hillary_Goldwynn_06_tn.jpg" alt=""/>
            <img src="../sz/img/Hillary_Goldwynn_07_tn.jpg" alt="" class="con_img1"/>
        </div>
    </div>
</div>
</body>
</html>