<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../sz/css/css5.css"/>
</head>
<body>
<!--1-->
<div class="header">
    <img src="../sz/img/header.jpg" alt=""/>
</div>
<!--2-->
<div class="menu">
    <div class="menu_cen">
        <div class="menu_le">Roux Meetups</div>
        <ul class="menu_ri">
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:8088/create4" method="GET">Speakers <img src="../sz/img/menu_list.jpg" alt=""/></a></li>
            <li><a href="http://localhost:8088/create5" method="GET">Feedback</a></li>
            <li class="menu_ri_li"><a href="http://localhost:8088/create6" method="GET">chat</a></li>
        </ul>
    </div>
</div>
<!--3-->
<div class="list">
    <div class="list_con">
        <div class="list_1">
            <h3>Art in Full Bloom</h3>
            <h6>with Lorenzo Garcia</h6>
            <div><a href="http://localhost:8088/create" method="GET"><img src="../sz/img/list1.jpg" alt=""/></a></div>
        </div>
        <div>
            <h3>Deep Sea Wonders</h3>
            <h6>with Hilary Goldywynn Post</h6>
            <div><a href="http://localhost:8088/create2" method="GET"><img src="../sz/img/list2.jpg" alt=""/></a></div>
        </div>
        <div>
            <h3>Art in Full Bloom</h3>
            <h6>with Hilary Goldywynn Post</h6>
            <div><a href="http://localhost:8088/create3" method="GET"><img src="../sz/img/list3.jpg" alt=""/></a></div>
        </div>
    </div>
</div>
<!--4-->
<div class="content">
    <div class="con_le">
        <h3>Who are we?</h3>
        <p>f the work from our speakers
            f the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            f the work from our speakers
            f the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
        </p>
        <h3>Get Busy!</h3>
        <p>
            f the work from our speakers
           <span >f the work from our speakers</span>
            o over gallery where you can check out some
            of the work from our speakers
            o over gallery where you can check out some
            of the work from our speakers
        </p>
        <h3>Who should come?</h3>
        <ul>
            <li>of the work from our speakers</li>
            <li>of the work from our speakers</li>
            <li>of the work from our speakers</li>
        </ul>
    </div>
    <div class="con_ri">
        <h2>Who should come?</h2>
        <ul>
            <li>of the work from our speakers</li>
            <li>of the work from our speakers</li>
            <li>of the work from our speakers</li>
        </ul>
        <h2>Artwork on display!</h2>
        <p>
            while you attend the conference,head over <br/>
            to over gallery where you can check out some <br/>
            of the work from our speakers
        </p>
        <div class="con_ri_img">
            <img src="../sz/img/Hillary_Goldwynn_01_tn.jpg" alt="" class="con_img1 con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_02_tn.jpg" alt="" class="con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_03_tn.jpg" alt="" class="con_img2"/>
            <img src="../sz/img/Hillary_Goldwynn_04_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Hillary_Goldwynn_05_tn.jpg" alt=""/>
            <img src="../sz/img/Hillary_Goldwynn_06_tn.jpg" alt=""/>
            <img src="../sz/img/Hillary_Goldwynn_07_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Lorenzo_Garcia_01_tn.jpg" alt=""/>
            <img src="../sz/img/Lorenzo_Garcia_02_tn.jpg" alt=""/>
            <img src="../sz/img/Lorenzo_Garcia_03_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Lorenzo_Garcia_04_tn.jpg" alt=""/>
            <img src="../sz/img/Riley_Rewington_01_tn.jpg" alt=""/>
            <img src="../sz/img/Riley_Rewington_02_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Riley_Rewington_03_tn.jpg" alt=""/>
            <img src="../sz/img/Riley_Rewington_04_tn.jpg" alt=""/>
            <img src="../sz/img/Riley_Rewington_05_tn.jpg" alt="" class="con_img1"/>
            <img src="../sz/img/Riley_Rewington_06_tn.jpg" alt=""/>
        </div>
    </div>
</div>
</body>
</html>