<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../src/css/css.css"/>
</head>
<body>
<!--1-->
<div class="header">
    <img src="../src/img/header.jpg" alt=""/>
</div>
<!--2-->
<div class="menu">
    <div class="menu_cen">
        <div class="menu_le">Roux Meetups</div>
        <ul class="menu_ri">
            <li><a href="../views/index.html">Home</a></li>
            <li><a href="http://localhost:8088/create4" method="GET">Speakers <img src="../src/img/menu_list.jpg" alt=""/></a></li>
            <li><a href="http://localhost:8088/create5" method="GET">Feedback</a></li>
            <li class="menu_ri_li"><a href="http://localhost:8088/create6" method="GET">chat</a></li>
        </ul>
    </div>
</div>
<!--3-->
<div class="content">
    <div class="con_le">
        <div>
            <h2>Art in Full Bloom</h2>
            <h6>with Lorenzo Gircia</h6>
            <div class="con_bot">
                <div><a href="http://localhost:8088/create" method="GET"><img src="../src/img/con_1%20(1).jpg" alt=""/></a></div>
                <div class="con_bot1">Draw  and painting flowers may seem like a first</div>
            </div>
        </div>
        <div>
            <h2>Deep Sea Wonders</h2>
            <h6>with Lorenzo Gircia</h6>
            <div class="con_bot">
                <div><a href="http://localhost:8088/create2" method="GET"><img src="../src/img/con_1%20(2).jpg" alt=""/></a></div>
                <div class="con_bot1">Draw  and painting flowers may seem like a first</div>
            </div>
        </div>
        <div>
            <h2>The Art of Abstract</h2>
            <h6>with Lorenzo Gircia</h6>
            <div class="con_bot">
                <div><a href="http://localhost:8088/create3" method="GET"><img src="../src/img/con_1%20(3).jpg" alt=""/></a></div>
                <div class="con_bot1">Draw  and painting flowers may seem like a first</div>
            </div>
        </div>
    </div>
    <div class="con_ri">
        <h2>Art</h2>
        <p>
            while you attend the conference,head over <br/>
            to over gallery where you can check out some <br/>
            of the work from our speakers
        </p>
        <div class="con_ri_img">
            <img src="../src/img/Hillary_Goldwynn_01_tn.jpg" alt="" class="con_img1 con_img2"/>
            <img src="../src/img/Hillary_Goldwynn_02_tn.jpg" alt="" class="con_img2"/>
            <img src="../src/img/Hillary_Goldwynn_03_tn.jpg" alt="" class="con_img2"/>
            <img src="../src/img/Hillary_Goldwynn_04_tn.jpg" alt="" class="con_img1"/>
            <img src="../src/img/Hillary_Goldwynn_05_tn.jpg" alt=""/>
            <img src="../src/img/Hillary_Goldwynn_06_tn.jpg" alt=""/>
            <img src="../src/img/Hillary_Goldwynn_07_tn.jpg" alt="" class="con_img1"/>
            <img src="../src/img/Lorenzo_Garcia_01_tn.jpg" alt=""/>
            <img src="../src/img/Lorenzo_Garcia_02_tn.jpg" alt=""/>
            <img src="../src/img/Lorenzo_Garcia_03_tn.jpg" alt="" class="con_img1"/>
            <img src="../src/img/Lorenzo_Garcia_04_tn.jpg" alt=""/>
            <img src="../src/img/Riley_Rewington_01_tn.jpg" alt=""/>
            <img src="../src/img/Riley_Rewington_02_tn.jpg" alt="" class="con_img1"/>
            <img src="../src/img/Riley_Rewington_03_tn.jpg" alt=""/>
            <img src="../src/img/Riley_Rewington_04_tn.jpg" alt=""/>
            <img src="../src/img/Riley_Rewington_05_tn.jpg" alt="" class="con_img1"/>
            <img src="../src/img/Riley_Rewington_06_tn.jpg" alt=""/>
        </div>
    </div>
</div>
</body>
</html>