<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../sz/css/css4.css"/>
</head>
<body>
<!--1-->
<div class="header">
    <img src="../sz/img/header.jpg" alt=""/>
</div>
<!--2-->
<div class="menu">
    <div class="menu_cen">
        <div class="menu_le">Roux Meetups</div>
        <ul class="menu_ri">
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:8088/create4" method="GET">Speakers <img src="../sz/img/menu_list.jpg" alt=""/></a></li>
            <li><a href="http://localhost:8088/create5" method="GET">Feedback</a></li>
            <li class="menu_ri_li"><a href="http://localhost:8088/create6" method="GET">chat</a></li>
        </ul>
    </div>
</div>
<!--3-->
<div class="content">
    <h6>Roux chat</h6>
    <form action="" class="con_for1">
        <span><strong>Name</strong></span>
        <input type="text" placeholder="Enter your name"/>
    </form>
    <form action="" class="con_for2">
        <span><strong>Message</strong></span>
        <input type="text"  placeholder="Enter a message,then press"/><button>chat</button>
    </form>
    <textarea name="" id="" class="con_text" placeholder="Welcome...add your message using the form above"></textarea>
</div>
</body>
</html>