@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 359px;
}
.header img{
    width:100%;
    height: 100%;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #CF5665;
}
.menu_cen{
    width: 1123px;
    height: 50px;
    margin: 0 auto;
}
.menu_le{
    float: left;
    font-size: 14px;
    color: white;
    line-height: 50px;
}
.menu_ri{
    float: right;
    line-height: 50px;
}
.menu_ri li{
    float: left;
    margin-right: 31px;
}
.menu_ri a{
    color: white;
}
.menu_ri .menu_ri_li{
    margin-right: 0;
}
.content{
    width: 1121px;
    margin: 23px auto;
}
.con_le{
    width: 742px;
    float: left;
}
.con_le>h2{
    color: #C34F68;
}
.con_le>h6{
    font-size: 12px;
    color: #C34F68;
    margin-top: 12px;
}
.con_le_img{
    margin-top: 33px;
}
.con_le_p{
    font-size: 12px;
    margin-top: 30px;
    line-height: 30px;
}
.con_bot>div{
    float: left;
}
.con_bot1{
    margin-left: 20px;
}
.con_ri{
    width: 352px;
    float: right;
}
.con_ri_img img{
    float: left;
    width: 110px;
    height: 110px;
    margin-left: 10px;
    margin-top: 10px;
}
.con_ri p{
    font-size: 14px;
}
.con_ri h2{
    color: #C13742;
}
.con_ri_img .con_img1{
    margin-left: 0;
}
.con_ri_img .con_img2{
    margin-top: 30px;
}